.nav {
  padding-top: 5px;
  display: flex;
  margin-top: auto;
  justify-content: space-evenly;
  border-top: 1px solid #707070;
  width: 100%;
}
.nav__button {
  text-decoration: none;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.nav__button img {
  height: 50px;
}

.nav__link {
  margin-top: 9px;
  color: white;
  font-size: 14px;
}
